:root {
  /* generic */
  --background-colour: #1d1d1d;
  --accent-colour: #7633ba;
  /* tabs in the top toolbar */
  --tab-text-color: #ffffff;
  --tab-dashboard: #234578;
  --tab-dashboard-hover: #355c90;
  --tab-dashboard-active: #355c90;
  --tab-statistics: #196965;
  --tab-statistics-hover: #1d817c;
  --tab-statistics-active: #1d817c;
  --tab-income: #5d8324;
  --tab-income-hover: #72a02d;
  --tab-income-active: #72a02d;
  --tab-expenses: #83311f;
  --tab-expenses-hover: #a44029;
  --tab-expenses-active: #a44029;
  --tab-budgetTargets: #562390;
  --tab-budgetTargets-hover: #7633ba;
  --tab-budgetTargets-active: #7633ba;
  /* buttons in the top toolbar of the transactions table */
  --button-text-color: #ffffff;
  --button-add-transaction: #72a02d;
  --button-delete-transaction: #a44029;
  --button-delete-transaction-disabled: #c0c0c0;
  /* buttons in the add transaction form */
  --button-add-transaction-form: #72a02d;
  --button-cancel-transaction-form: #a44029;
  --button-cancel-transaction-form-disabled: #c0c0c0;
  /* buttons in the add category form */
  --button-add-category: #72a02d;
  --button-delete-category: #a44029;
  --button-delete-category-disabled: #c0c0c0;
  /* table borders */
  --general-border: #c0c0c0;
  --expense-border: #a44029;
  --income-border: #72a02d;
  --statistics-border: #1d817c;
  --dashboard-border: #355c90;
  --budget-targets-border: #7633ba;
}