.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100vh - 54px);
  border: 5px solid var(--dashboard-border);
}

.dashboard-chart-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  padding-right: 1rem;
  height: 30%;
}

.dashboard-graph-container {
  color: white;
  height: 100%;
  overflow: hidden;
}

.dashboard-comparison-grid {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  padding-right: 1rem;
  height: 60%;
}

.time-period-selector-container {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;
}

.comparison-chart-container {
  color: white;
  height: calc(100% - 60px);
  overflow: hidden;
}

.bar-chart-container {
  color: white;
  height: 100%;
  overflow: hidden;
}

.pie-chart-container {
  color: white;
  height: 100%;
  overflow: hidden;
}

.budget-comparison-container {
  color: white;
  height: 100%;
  overflow: hidden;
}

.time-period-selector {
  color: white;
  width: 150px;
}

.category-selector {
  color: white;
  width: 200px;
}

.interval-selector {
  color: white;
  width: 100px;
}

.category-selector-container {
  color: white;
  padding-top: 5px;
  height: 60px
}