.ag-popup {
  height: 0 !important;
  min-height: 0 !important;
}

.ag-scrolls {
  height: auto !important;
}

.transactions-search-toolbar-text {
  padding-left: 10px;
}

.transactions-search-toolbar {
  display: flex;
  gap: 0.5rem;
  padding-left: 20px;
  height: 24px;
  border: solid;
  border-color: rgb(44, 44, 44);
  background-color: rgb(17, 17, 17);
}
