/* display contents side by side */
.target-tables-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: hidden;
  width: calc(100% - 10px);
  height: calc(100vh - 54px);
  border: 5px solid var(--budget-targets-border);
}

.targets-table {
  width: 100%;
  height: calc(100vh - 50px);
}

.expense-targets-table {
  height: calc(100vh - 64px);
  border: 5px solid var(--expense-border);
}

.income-targets-table {
  height: calc(100vh - 64px);
  border: 5px solid var(--income-border);
}

.table-top-toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}